@font-face {
  font-family: 'BluuNext';
  src: url('../fonts/BluuNext-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/Karla-Regular.woff') format('woff');
}

/* removing gaps inbetween boxes */
*, ::before, ::after {
  box-sizing: border-box;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 1px !important;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'BluuNext', Fallback, sans-serif;
  background-color: white;
}

/* Fonts */
.BluuNext {
  font-family: 'BluuNext', Fallback, sans-serif;
}

.Karla-Regular {
  font-family: 'Karla-Regular';
}

.gray-background {
  background-color: #e4e4e4;
}

.black {
  color: black !important;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* CARD STYLING */
.person {
  border: 1px solid black !important;
  border-radius: 0px !important;
  padding: 10%;
  background: white;
  align-items: center;
  -webkit-transition: padding 0.2s !important;

  /* adjustments for border lines*/
  margin-left: 0px; /* use -2px to have no left side double up */
}

/* card hover behavior */
.person:hover {
  /* border: 4px solid black !important; */
  padding: 12%;
  -webkit-transition: padding 0.2s !important;
}

.card-container {
  height: 100% !important;
}

.card-image:hover{

}

.person img {
  width: 100%;
}

.person h1 {
  font-family: 'BluuNext';
  font-size: 2rem;
}

.person h3 {
  font-family: 'Karla-Regular';
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.no-gutter-gap {
  column-gap: 0 !important;
}

.card-columns a, .card-columns a:hover {
  text-decoration: none;
  color: black;
}
