.menuContainer {
  border-right: 2px solid black;
}

.menu {
  height: 100vh;
  text-align: center;
  background-color: #E4E4E4 ;
}

.logo {
  width: 70%;
  margin: 20px 0px 20px 0px;
}

hr {
  background-color: black;
  height: 1px;
}

.menu-text-box {
  padding: 25px 35px 0 35px;
}

.menu-text-box h1 {
  font-family: 'BluuNext';
  font-size: 2.6vw;
  line-height: 4.5vh;
}

.menu-text-box h5 {
  font-family: 'Karla-Regular';
  font-size: 1.3vw;
  line-height: 3vh;
}

/* FOOTER */
.menu-footer {
  font-family: 'Karla-Regular';
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu-btn {
  width: 100%;
  height: 50px;
  padding-top: 13px;
  color: black;
}

.menu-btn:hover {
  color: white;
  background-color: #785CE0;
  text-decoration: none !important;
}
